Django==4.1.7
django-model-utils==4.2.0
requests==2.28.1
Celery==5.2.7
pymediainfo==5.1.0
fffw==4.0.0
mypy==1.10.0
types-requests==2.28.9
django-stubs==5.0.2
billiard>=3.6.4.0,<4.0
kombu==5.2.4
importlib-metadata<5.0.0  # fix GH#256
