Django==5.1.5
django-model-utils==5.0.0
requests==2.32.3
Celery==5.4.0
pymediainfo==6.1.0
fffw==7.0.0
mypy==1.10.1
types-requests==2.32.0.20250328
django-stubs==5.0.2
billiard==4.2.1
kombu==5.4.2
importlib-metadata==8.0.0
