-r ../requirements.txt

sphinx==8.2.1
sphinxcontrib-blockdiag==3.0.0
sphinxcontrib-seqdiag==3.0.0
sphinx-markdown-tables==0.0.17
recommonmark==0.7.1
funcparserlib==1.0.1
Pillow==9.5.0  # For blockdiag to work
